<!-- new_index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>CO2 Data</title>
</head>
<body>
    <h1>CO2 Data</h1>

    <form action="/" method="post">
        <label for="start_time">Start Time:</label>
        <input type="datetime-local" id="start_time" name="start_time"><br><br>
        
        <label for="end_time">End Time:</label>
        <input type="datetime-local" id="end_time" name="end_time"><br><br>

        <input type="submit" value="Generate Chart">
    </form>

    {% if co2 %}
    <h2>CO2 Data:</h2>
    <table>
        <tr>
            <th>Timestamp</th>
            <th>CO2 Value</th>
        </tr>
        {% for row in co2 %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>
